<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Geocarbon</h5>
        <p>Tiên phong trong các giải pháp bảo vệ môi trường và phát triển bền vững tại Việt Nam</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Liên kết</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Dự án trồng rừng</a></li>
          <li><a href="#" class="text-white">Giáo dục môi trường</a></li>
          <li><a href="#" class="text-white">Tài nguyên bền vững</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Kết nối</h5>
        <p>Email: contact@geocarbon.org</p>
        <p>Điện thoại: +84 123 456 789</p>
        <div class="social-links mt-2">
          <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white me-2"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
    <hr class="bg-light">
    <div class="text-center">
      <p>&copy; 2025 Geocarbon. Tất cả quyền được bảo lưu.</p>
    </div>
  </div>
</footer>