<nav class="navbar navbar-expand-lg navbar-dark bg-success py-2">
  <div class="container">
    <a class="navbar-brand" href="../home/home.html">
      <div class="d-flex align-items-center">
        <img src="/components/images/logo.png" alt="GeoCarbon Logo" width="80" height="80">
        <div class="d-flex flex-column">
          <span class="fw-bold fs-5">GEOCARBON</span>
          <small class="text-light fs-6">VISUALIZE THE FOREST, QUANTIFY THE FUTURE</small>
        </div>
      </div>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-1">
          <a class="nav-link active hover-effect" href="../home/home.html">Trang chủ</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link hover-effect" href="../introduce/introduce.html">Giới thiệu</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link hover-effect" href="../team/team.html">Đội ngũ</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link hover-effect" href="../maps/maps.html">Bản đồ</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link hover-effect" href="../news/news.html">Tin tức</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link hover-effect" href="../contact/contact.html">Liên hệ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
